#kultur_calendar {
  background-color: #fff;
  padding-top: 20px;
}
.fc-event-container.hidden {
  visibility: hidden;
}
#kultur_calendar-day {
  position: absolute;
  width: 340px;
  background-color: white;
  float: left;
  z-index: 100;
}

#kultur_calendar-day.hidden {
  display: none;
}

#kultur-libraries .form-item {
  display: inline-block;
  padding-left: 10px;
}

#kultur-libraries {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
